:root {
    --name-length: 17ch;
    /* CSS HEX */
    --syracuse-red-orange: #da4207ff;
    --verdigris: #05a8aaff;
    --celadon: #b8d5b8ff;
    --jet: #2c302eff;
    --outer-space: #474a48ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(235, 237, 239);
}

#trigger-offset{
    width: 100%;
    border: 2px dashed cyan;
    position: fixed;
    bottom: 120px;
    z-index: 4;
}

.section-container {
    position: relative;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    gap: 16px;
    height: 100%;
    place-content: center;

}


h1 {
    text-align: center;
    font-family: "Wittgenstein", serif;
    line-height: 100%;
    font-weight: 500;
    font-size: 44pt;
}

h2 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40pt;
    font-weight: 600;
    letter-spacing: -1px;
}

p {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16pt;
}

/* a {
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    font-size: 9pt;
} */

.wrapper {
    all: none;
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.landing p {
    text-align: center;
}



.headline{
    position: sticky;
    top: 50vh;
    transform: translate(0%, -50%);
}

.headline-filler{
    height: 100%;
}

.scrolly{
    height: 100%;
    position: relative;
}




.next {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    padding-top: 5vh;
    text-align: center;
    bottom: 0;
}

.stat {
    display: flex;
    flex-direction:row;
    gap: 4px;
    align-items: center;
}

.stat p {
    font-size: small;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 50%;
}

.user {
    display: flex;
    gap: 4px;
}

.name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50%;
}

.username {
    opacity: 50%;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.content p {
    text-align: left;
}

.pfp {
    width: 40px;
    height: 40px;
    background-color: gray;
    border-radius: 50%;
    aspect-ratio: 1;
    background-size: contain;
}

.quote {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: #ffffff00;
    backdrop-filter: blur(20px);
    box-sizing: border-box;
    box-shadow: 6px 6px 6px -6px rgba(255,255,255,1) inset, -6px -6px 16px -16px rgba(69, 69, 69, 0.75) inset;
    overflow: hidden;
}

.quote-content{
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 8px;
}

.quote-pfp {
    width: 32px;
    height: 32px;
    background-color: gray;
    border-radius: 50%;
    aspect-ratio: 1;
    background-size: contain;
}

.quote-user {
    display: flex;
    gap: 4px;
    align-items: center;
}

.quote-user > .user > p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: var(--name-length);
}

.quote-image {
    width: 100%;
    aspect-ratio: auto;
    border-radius: 0 0 16px 16px;
    background-size: cover;
    display: inline-block;
    object-fit: cover; 
}

.image {
    width: 100%;
    border-radius: 16px;
    aspect-ratio: auto;
    background-size: cover;
    display: inline-block;
}

.tweet {
    position: fixed;
    display: flex;
    padding: 16px;
    border-radius: 32px;
    gap: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(40px);
    box-sizing: border-box;
    max-width: 400px;
/*     border: 1px solid gray; */
    /* box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.25); */
    /* box-shadow: 5px 6px 7px -5px rgba(255,255,255,0.5) inset, -5px -6px 7px -5px rgba(69, 69, 69, 0.5) inset; */
    box-shadow: 6px 6px 6px -6px rgba(255,255,255,1) inset, -6px -6px 16px -16px rgba(69, 69, 69, 0.75) inset, 6px 6px 23px -7px rgba(0,0,0,0.5);
}

.tweet p {
    font-size: 9pt;
}

#sec1 {
    padding-top: 0;
    height: 200vh;
}

#sec1 > #sec1 > .tweet:nth-child(2){
    top: 3%;
    left: 3%;
}

#sec1 > .tweet:nth-child(3){
    top: 35%;
    left: -5%;
}

#sec1 > .tweet:nth-child(4){
    top: 65%;
    left: 50%;
}

#sec1 > .tweet:nth-child(5){
    top: 10%;
    left: 10%;
}

#sec1 > .tweet:nth-child(6){
    top: 500px;
    left: 40px;
}

#sec1 > .tweet:nth-child(7){
    top: 300px;
    left: 80%;
}

#sec1 > .tweet:nth-child(8){
    top: 70%;
    left: 70%;
}

#sec1 > .tweet:nth-child(9){
    top: 75%;
    left: 10%;
}

#sec1 > .tweet:nth-child(10){
    top: 5%;
    left: 60%;
}

#sec1 > .tweet:nth-child(10){
    top: 5%;
    left: 60%;
}

#sec1 > .tweet:nth-child(11){
    top: 2%;
    left: 20%;
}


.anchors {
    /* padding-top: 100vh; */
    /* padding-bottom: 100px; */
    display: flex;
    flex-direction: column;
    gap: 80px;
    border: 1pt dotted rgba(255, 0, 0, 0.432);
    position: absolute;
    bottom: 0;
}

.anchor {
    background-color: rgba(0, 255, 255, 0.278);
    border: solid red;
    width: 40px;
    opacity: 1;
    place-self: center;
}

footer {
    width: 100vw;
    height: 50px;
    z-index: -1;
    background-color: black;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

/* LAYOUT */

section {
    padding: 2em 0;
    position: relative;
    place-content: center;
} 

.link{
    padding: 1px 5px;
    border-radius: 3px;
    background-color: var(--syracuse-red-orange);
}

.link > a, .link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 600;
    transition: color 0.5s;
}

.link > a:hover, .link:hover {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.white-text{
    color: white;
    text-shadow: -1px 4px 8px rgba(0,0,0,0.25);
}

#sec2{
    background-color: var(--jet);
}

.scrolly-side{
    display: flex;
    gap: 16px;

}

.scrolly-side > h1 {
    text-align: left;
}

.scrolly-side > * { 
    flex: 1;
}


.column{
    flex: 1;
    padding-top: 100vh;
    position: relative;
}

h1.sticky{
    position: sticky;
    top: 10vh;
    left: 0;
    height: fit-content;
}

.side-headline{
    font-size: 60pt;
}



#sec3{
    background-color: var(--jet);
    min-height: 100vh;
    place-content: center;
    color: white;
}

.section-container:nth-child(3){
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
}

.listContainer{
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-weight: 600;
    font-size: 14pt;
    letter-spacing: 1px;
    text-transform: uppercase;
    max-width: 80%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

.attribution{
    font-family: "Wittgenstein", serif;
    padding: 6px 12px;
    border-radius: 3px;
    opacity: .5;

}

.listItem {
    display: flex;
    gap: 16px;
    align-items: center;
}


.listNumber{
    width: 100px;
    height: 100px;
    aspect-ratio: 1/1;
    padding: 20px;
    border-radius: 50%;
    background-color: var(--verdigris);
    margin-right: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 30pt;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}


/* SLIDE 4 THE GORILLA PROBLEM */


.headline2{
    margin-top: 3em;
    position: sticky;
    top: 50vh;
    transform: translate(0%, -50%);
}

.headline2-bottom {
    height: 500px;
}

.background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.cards{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 80vw;
    max-width: 900px;
}

img {
    background-color: blanchedalmond;
    border-radius: 16px;
}

.card{
    display: flex;
    height: 300px;
    padding: 16px;
    border-radius: 32px;
    gap: 16px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(40px);
    box-sizing: border-box;
    box-shadow: 6px 6px 6px -6px rgba(255,255,255,1) inset, -6px -6px 16px -16px rgba(69, 69, 69, 0.75) inset, 6px 6px 23px -7px rgba(0,0,0,0.5);
}

.card-image{
    flex: 1;
    background-color: #2A7B9B;
    border-radius: 16px;
    background-size: cover;
    background-position: center;
}

.card-name{
    font-size: 60pt;
    font-weight: 600;
}

.card-details{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.highlight{
    padding: 3px 6px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.5);
    width: fit-content;
}

.edge{
    background-color: rgba(255, 47, 99, 0.587);
    font-size: 10pt;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.description{
    font-size: 18pt;
    font-weight: 500;
}

.date-range{
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--verdigris);
    
}

.date{
    background-color: var(--celadon);
    text-transform: uppercase;
    font-size: 10pt;
    font-weight: 600;
    letter-spacing: 1px;
}


/* Section 5 */


/* Section 6 */

#transition-sec6{
    width: 100%;
    height: 20vh;
    background: linear-gradient(0deg, var(--syracuse-red-orange)  0%, #da420700 100%);
    z-index: 3;
    position: relative;
}

#sec6 {
    background-color: #2A7B9B;
}

#sec6 > .section-container > .scrolly > h1 {
    margin-top: 50vh;
}

#s6-1{
    top: calc(20vh + 44pt);
    margin-bottom: calc(44pt * 5);
    
}

#s6-2{
    top: calc(20vh + 88pt);
    margin-bottom: calc(44pt * 4);
}

#s6-3{
    top: calc(20vh + 132pt);
    margin-bottom: calc(44pt * 3);
}

#s6-4{
    top: calc(20vh + 176pt);
    margin-bottom: calc(44pt * 2);
}

#s6-5{
    top: calc(20vh + 220pt);
    margin-bottom: calc(44pt * 1);
}

/* SECTION 7 */

#sec7 {

}

.timeline {
    width: 100%;
    height: 200vh;
    position: relative;
}

.timeline-event{
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 16px;
    padding: 16px;
    border-radius: 32px;
    gap: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(40px);
    box-sizing: border-box;
    box-shadow: 6px 6px 6px -6px rgba(255,255,255,1) inset, -6px -6px 16px -16px rgba(69, 69, 69, 0.75) inset, 6px 6px 23px -7px rgba(0,0,0,0.5);
}

.timeline-event > img {
    width: 100%;
    height: 50px;
}

.year {
    font-size: 32pt;
    font-weight: 900;
    background-color: #c9a9a9;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.timeline-event > .description {
    margin-bottom: 16px;
}

.timeline-event:nth-child(2){
    top: 5%;
    left: 50%;
}

.timeline-event:nth-child(3){
    top: 15%;
    left: 10%;
}

.timeline-event:nth-child(4){
    top: 20%;
    right: 0%;
}

.timeline-event:nth-child(5){
    top: 30%;
    left: 0;
}

.timeline-event:nth-child(6){
    top: 35%;
    left: 40%;
}

.timeline-event:nth-child(7){
    top: 48%;
    right: 0%;
}

.timeline-event:nth-child(8){
    top: 50%;
    left: 20%;
}

.timeline-event:nth-child(9){
    top: 63%;
    left: 0%;
}

.timeline-event:nth-child(10){
    top: 65%;
    left: 40%;
}

.timeline-event:nth-child(11){
    top: 75%;
    left: 47%;
}

.timeline-event:nth-child(12){
    top: 80%;
    left: 0%;
}

.timeline-event:nth-child(13){
    bottom: 0;
    right: 0;
}

/* SECTION 8 */

#transition-sec8{
    width: 100%;
    height: 20vh;
    background: linear-gradient(0deg,rgba(118, 130, 145, 1) 0%, rgba(118, 130, 145, 0) 100%);

}
#sec8{
    background: linear-gradient(0deg,rgba(38, 51, 74, 1) 0%, rgba(118, 130, 145, 1) 100%);
}

.headline2 {
    padding-bottom: 50px;
}

.pinterest {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 90vw;
}

.pin-col{
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.pin-col:nth-child(1){
    margin-top: 10px;
}

.pin-col:nth-child(3){
    margin-top: 20px;
}

.pin-col > .tweet {
    position: relative;
    max-width: inherit;

}

#sec8 > .section-container > p {
    margin: 40VH 0;
}

/* Section 9 */

#sec9{
    min-height: 100vh;
    background: linear-gradient(0deg,rgb(16, 18, 19) 0%, rgba(38, 51, 74, 1) 100%);
}

.table{
    width: 80%;
    height: 400px;
    background-color: aqua;
}


/*  SECTION 10 */

#sec10{
    background-color: rebeccapurple;
}

/* #sec10anchors {
    
    margin-top: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
}  */


#sec10 > .section-container > .scrolly-side > h1 {
    margin-bottom: 60vh;
}

.clipping{
    width: 400px;
    height: 100px;
    box-shadow: -6px -6px 16px -16px rgba(69, 69, 69, 0.75);
    position: absolute;
    bottom: 0px;
}


#cl1{
    bottom: 50%;
    right: 0;
    transform: rotate(10deg);
}

#cl2{
    bottom: 40%;
    left: 60;
    transform: rotate(-5deg);
}

#cl3{
    bottom: 25%;
    left: 0px;
    transform: rotate(-10deg);
}


#cl4{
    bottom: 10%;
    left: 0px;
    transform: rotate(5deg);
}

/* SECTION 11 */

#sec11 {
    height: 100vh;
    background-color: lightblue;
}

#sec11 > .section-container{
    max-width: 50vw;
}

#sec11 > .section-container > .next {
    position: absolute;
    bottom: 0;
}

/* SECTION 12 */

#sec12{
    height: 200vh;
}

.tip{
    position: fixed;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 16px;
    padding: 16px;
    border-radius: 32px;
    gap: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(40px);
    box-sizing: border-box;
    box-shadow: 6px 6px 6px -6px rgba(255,255,255,1) inset, -6px -6px 16px -16px rgba(69, 69, 69, 0.75) inset, 6px 6px 23px -7px rgba(0,0,0,0.5);
}

#tip1{
    top: 5%;
    left: 5%;
}

#tip2{
    top: 80%;
    left: 60%;
}

#tip3{
    top: 20%;
    left: 40%;
}

#tip4{
    top: 80%;
    left: 0%;
}

#tip5{
    top: 60%;
    left: 65%;
}

#tip6{
    top: 0%;
    left: 55%;
}

#tip7{
    top: 25%;
    left: 0%;
}

#tip8{
    top: 60%;
    left: 25%;
}

#tip9{
    bottom: 50%;
    right: 0%;
}

#tip10{
    top: 45%;
    left: 10%;
}

#sec12anchors {
    padding-bottom: 100px;
}