* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(235, 237, 239);
}

.landing {

    position: relative;
    overflow-x: hidden;
}

p {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* a {
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    font-size: 9pt;
} */

.wrapper {
    all: none;
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.landing p {
    text-align: center;
}

.headlinecontainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    
}

h1 {
    text-align: center;
    font-family: "Wittgenstein", serif;
    line-height: 100%;
    font-weight: 500;
    font-size: 44pt;

}

.next {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    position:absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, -50%);

}

.stat {
    display: flex;
    flex-direction:row;
    gap: 4px;
    align-items: center;
}

.stat p {
    font-size: small;
}

.stats {
    display: flex;
    flex-direction: row;
    gap: 16px;
    opacity: 50%;
}

.user {
    display: flex;
    gap: 4px;
}

.name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50%;
}

.username {
    opacity: 50%;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.content p {
    text-align: left;
}

.pfp {
    width: 40px;
    height: 40px;
    background-color: gray;
    border-radius: 50%;
    aspect-ratio: 1;
    background-size: contain;
}

.quote {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: #ffffff00;
    backdrop-filter: blur(20px);
    box-sizing: border-box;
    box-shadow: rgb(255 255 255 / 5%) 10px 10px 43px 0px inset, rgb(0 0 0 / 5%) 10px 10px 23px 10px, rgb(255 255 255 / 50%) 2px 2px 50px -3px inset, rgb(0 0 0 / 50%) 2px 2px 10px -3px inset;
    overflow: hidden;
}

.quote-pfp {
    width: 32px;
    height: 32px;
    background-color: gray;
    border-radius: 50%;
    aspect-ratio: 1;
    background-size: contain;
}

.quote-user {
    display: flex;
    gap: 4px;
    padding: 16px;
    align-items: center;
}

.quote-image {
    width: 100%;
    aspect-ratio: auto;
    background-size: cover;
    display: inline-block;
    aspect-ratio: 3/2;
    object-fit: cover; 
}

.image {
    width: 100%;
    border-radius: 16px;
    aspect-ratio: auto;
    background-size: cover;
    display: inline-block;
}

.tweet {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    padding: 16px;
    border-radius: 32px;
    gap: 8px;
    background-color: #ffffff72;
    backdrop-filter: blur(20px);
    box-sizing: border-box;
    max-width: 500px;
/*     border: 1px solid gray; */
    /* box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.25); */
    box-shadow: rgb(255 255 255 / 5%) 10px 10px 43px 0px inset, rgb(0 0 0 / 5%) 10px 10px 23px 10px, rgb(255 255 255 / 50%) 2px 2px 50px -3px inset, rgb(0 0 0 / 50%) 2px 2px 10px -3px inset;
}

.tweet:nth-child(2){
    top: 3%;
    left: 3%;
}

.tweet:nth-child(3){
    top: 35%;
    left: -5%;
}

.tweet:nth-child(4){
    top: 65%;
    left: 50%;
}

.tweet:nth-child(5){
    top: 10%;
    left: 10%;
}

.tweet:nth-child(6){
    top: 500px;
    left: 40px;
}

.tweet:nth-child(7){
    top: 300px;
    left: 80%;
}

.tweet:nth-child(8){
    top: 70%;
    left: 70%;
}

.tweet:nth-child(9){
    top: 75%;
    left: 10%;
}

.tweet:nth-child(10){
    top: 5%;
    left: 60%;
}

.tweet:nth-child(10){
    top: 5%;
    left: 60%;
}

.tweet:nth-child(11){
    top: 2%;
    left: 20%;
}


.tweetAnchors {
    margin-top: 1000px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.anchor {
    background-color: aqua;
    height: 40px;
    width: 40px;
    opacity: 0;
}

footer {
    width: 100vw;
    height: 50px;
    z-index: -1;
    background-color: black;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}



